extends layout

block content
  h1= title
  p Welcome to Ahmet's My-Movie-Api
  br
  p Firstly /users/register/ post a username & password 
  p And to take token(JWT) post users/authenticate with taken username & password
  p After take token you can enter all api/movies & api/directors 
